h1 {
  color: red;
}
h2 {
  font-size: 24px !important;
  text-align: center !important;
}

li[id^="fn:"] p {
  font-size: 12px;
}
.container-lg {
   padding: 20px !important;
}

p {
  padding-left: 50px;
}
